:root {
    --textColor: #ffffff;
    --backgroundColor: #0a192f;
    --navBackgroundColor: #112240;
    --accentColor1: #64ffda;
    --accentColor2: #ffc107;
    --buttonShadow: #2a3948;
    --navHeight: 50px;
    --fontSize: 16px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    box-sizing: border-box;
    line-height: 1.5;
}

#navbar {
    background-color: var(--navBackgroundColor);
    text-align: right;
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--navHeight);
    z-index: 100;
    padding: 0 10px;
}

#navbar ul {
    list-style: none;
    height: 100%;
    margin-top: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#navbar ul li {
    padding: 0 10px;
}

#navbar a {
    text-decoration: none;
    color: var(--textColor);
    font-size: 1.1rem;
    font-weight: bolder;
}

#navbar a:hover {
    text-decoration: underline;
    color: var(--accentColor1);
}

#current {
    background-color: var(--buttonShadow);
}

.content {
    padding: 30px;
}

h1 {
    text-align: center;
    margin: 0px auto;
    padding-top: var(--navHeight);
    color: var(--accentColor1);
}

#map {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 40px 0px 10px 0px;
}

#map iframe {
    display: inline-block;
    height: 60vh;
    width: 80vw;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 10px;
}

.weather {
    background-color: var(--navBackgroundColor);
    border-radius: 10px;
    margin-top: 30px;
}

.weather h2 {
    padding: 10px 20px;
    margin: 0 auto;
    text-decoration: underline;
    color: var(--accentColor1);
}

#accent {
    margin: 10px;
    border-color: var(--accentColor2);
}

#place {
    background-color: var(--navBackgroundColor);
    padding: 10px;
    text-align: center;
}

#place ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#place ul li {
    flex: 0 0 calc(25% - 10px);
    margin: 3px;
}

#place button.selected {
    border: 2px solid var(--accentColor2);
    background-color: var(--buttonShadow);
}

#place button {
    color: var(--textColor);
    font-size: 1.7vw;
    background-color: var(--backgroundColor);
    border-radius: 5px;
    width: 100%;
    padding: 8px;
}

#place button:before,
#place button:after {
    content: "";
}

#place button:hover {
    cursor: pointer;
    color: var(--accentColor1);
    text-decoration: underline;
    background-color: var(--buttonShadow);
}

#place button.selected:hover {
    background-color: var(--buttonShadow);
}

#weatherData {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: 0;
    padding: 20px 0px;
}

#weatherBox {
    display: grid;
    grid-template-rows: 1fr;
    align-items: baseline;
}

.weatherPic {
    margin: 0 auto;
    padding-bottom: 20px;
    filter: invert(0.6);
}

.weather p {
    padding: 0 5px;
    margin: 0 auto;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#about {
    padding: 10px;
}

#guide4 {
    content: 0;
}

#contact {
    margin-top: 40px;
    text-align: center;
    padding-top: 0px;
}

#mail {
    filter: invert(0.8);
}

/* Formatting for mobile */

@media (max-width: 600px) {
    .nav ul li {
        display: block;
        margin-bottom: 10px;
    }
}

/* Formatting for larger screens */

@media only screen and (min-width: 601px) {
    #place ul li {
        flex: 0 0 calc(12.5% - 10px);
    }
}